In [42]:
import numpy as np
import pandas as pd
df = pd.read_csv('..//Data/Unlabelled.csv')

In [43]:
df

,Unnamed: 0,Operator,Network Type,In Out Travelling,State Name,Call Dropped,Satisfactory,Poor Voice Quality
0,0,Airtel,2G,Indoor,Andhra Pradesh,35.714286,46.428571,17.857143
1,1,Airtel,2G,Indoor,Assam,0.000000,66.666667,33.333333
2,2,Airtel,2G,Indoor,Bihar,0.000000,53.846154,46.153846
3,3,Airtel,2G,Indoor,Delhi,5.555556,27.777778,66.666667
4,4,Airtel,2G,Indoor,Gujarat,2.816901,88.732394,8.450704
...,...,...,...,...,...,...,...,...
987,987,Vodafone,4G,Travelling,Tamil Nadu,1.104972,90.607735,8.287293
988,988,Vodafone,4G,Travelling,Telangana,7.894737,81.578947,10.526316
989,989,Vodafone,4G,Travelling,Uttar Pradesh,5.084746,47.457627,47.457627
990,990,Vodafone,4G,Travelling,Uttarakhand,40.000000,0.000000,60.000000
991,991,Vodafone,4G,Travelling,West Bengal,4.919908,78.947368,16.132723

In [44]:
df1 = pd.DataFrame(df,columns=['Operator','Network Type','In Out Travelling','State Name','Call Dropped','Satisfactory','Poor Voice Quality'])

In [45]:
df1

,Operator,Network Type,In Out Travelling,State Name,Call Dropped,Satisfactory,Poor Voice Quality
0,Airtel,2G,Indoor,Andhra Pradesh,35.714286,46.428571,17.857143
1,Airtel,2G,Indoor,Assam,0.000000,66.666667,33.333333
2,Airtel,2G,Indoor,Bihar,0.000000,53.846154,46.153846
3,Airtel,2G,Indoor,Delhi,5.555556,27.777778,66.666667
4,Airtel,2G,Indoor,Gujarat,2.816901,88.732394,8.450704
...,...,...,...,...,...,...,...
987,Vodafone,4G,Travelling,Tamil Nadu,1.104972,90.607735,8.287293
988,Vodafone,4G,Travelling,Telangana,7.894737,81.578947,10.526316
989,Vodafone,4G,Travelling,Uttar Pradesh,5.084746,47.457627,47.457627
990,Vodafone,4G,Travelling,Uttarakhand,40.000000,0.000000,60.000000
991,Vodafone,4G,Travelling,West Bengal,4.919908,78.947368,16.132723

In [46]:
df1['unsatisfactory']=df1['Call Dropped'] + df1['Poor Voice Quality']

In [47]:
df1

,Operator,Network Type,In Out Travelling,State Name,Call Dropped,Satisfactory,Poor Voice Quality,unsatisfactory
0,Airtel,2G,Indoor,Andhra Pradesh,35.714286,46.428571,17.857143,53.571429
1,Airtel,2G,Indoor,Assam,0.000000,66.666667,33.333333,33.333333
2,Airtel,2G,Indoor,Bihar,0.000000,53.846154,46.153846,46.153846
3,Airtel,2G,Indoor,Delhi,5.555556,27.777778,66.666667,72.222222
4,Airtel,2G,Indoor,Gujarat,2.816901,88.732394,8.450704,11.267606
...,...,...,...,...,...,...,...,...
987,Vodafone,4G,Travelling,Tamil Nadu,1.104972,90.607735,8.287293,9.392265
988,Vodafone,4G,Travelling,Telangana,7.894737,81.578947,10.526316,18.421053
989,Vodafone,4G,Travelling,Uttar Pradesh,5.084746,47.457627,47.457627,52.542373
990,Vodafone,4G,Travelling,Uttarakhand,40.000000,0.000000,60.000000,100.000000
991,Vodafone,4G,Travelling,West Bengal,4.919908,78.947368,16.132723,21.052632

In [48]:
df1 = pd.DataFrame(df1,columns=['Operator','Network Type','In Out Travelling','unsatisfactory'
,'Satisfactory'])
df1

     Operator Network Type In Out Travelling  unsatisfactory  Satisfactory
0      Airtel           2G            Indoor       53.571429     46.428571
1      Airtel           2G            Indoor       33.333333     66.666667
2      Airtel           2G            Indoor       46.153846     53.846154
3      Airtel           2G            Indoor       72.222222     27.777778
4      Airtel           2G            Indoor       11.267606     88.732394
..        ...          ...               ...             ...           ...
987  Vodafone           4G        Travelling        9.392265     90.607735
988  Vodafone           4G        Travelling       18.421053     81.578947
989  Vodafone           4G        Travelling       52.542373     47.457627
990  Vodafone           4G        Travelling      100.000000      0.000000
991  Vodafone           4G        Travelling       21.052632     78.947368

[992 rows x 5 columns]

In [49]:
df1.loc[df1['Satisfactory']<=100, 'label'] = 'Excellent'
df1.loc[df1['Satisfactory']<=80, 'label'] = 'Very Good'
df1.loc[df1['Satisfactory']<=60, 'label'] = 'Average'
df1.loc[df1['Satisfactory']<=40, 'label'] = 'Poor'
df1.loc[df1['Satisfactory']<=20, 'label'] = 'Inadequate'

In [50]:
df1

,Operator,Network Type,In Out Travelling,unsatisfactory,Satisfactory,label
0,Airtel,2G,Indoor,53.571429,46.428571,Average
1,Airtel,2G,Indoor,33.333333,66.666667,Very Good
2,Airtel,2G,Indoor,46.153846,53.846154,Average
3,Airtel,2G,Indoor,72.222222,27.777778,Poor
4,Airtel,2G,Indoor,11.267606,88.732394,Excellent
...,...,...,...,...,...,...
987,Vodafone,4G,Travelling,9.392265,90.607735,Excellent
988,Vodafone,4G,Travelling,18.421053,81.578947,Excellent
989,Vodafone,4G,Travelling,52.542373,47.457627,Average
990,Vodafone,4G,Travelling,100.000000,0.000000,Inadequate
991,Vodafone,4G,Travelling,21.052632,78.947368,Very Good

In [52]:
Label = np.array(df1['label'])

In [53]:
df['label']= Label
df

,Unnamed: 0,Operator,Network Type,In Out Travelling,State Name,Call Dropped,Satisfactory,Poor Voice Quality,label
0,0,Airtel,2G,Indoor,Andhra Pradesh,35.714286,46.428571,17.857143,Average
1,1,Airtel,2G,Indoor,Assam,0.000000,66.666667,33.333333,Very Good
2,2,Airtel,2G,Indoor,Bihar,0.000000,53.846154,46.153846,Average
3,3,Airtel,2G,Indoor,Delhi,5.555556,27.777778,66.666667,Poor
4,4,Airtel,2G,Indoor,Gujarat,2.816901,88.732394,8.450704,Excellent
...,...,...,...,...,...,...,...,...,...
987,987,Vodafone,4G,Travelling,Tamil Nadu,1.104972,90.607735,8.287293,Excellent
988,988,Vodafone,4G,Travelling,Telangana,7.894737,81.578947,10.526316,Excellent
989,989,Vodafone,4G,Travelling,Uttar Pradesh,5.084746,47.457627,47.457627,Average
990,990,Vodafone,4G,Travelling,Uttarakhand,40.000000,0.000000,60.000000,Inadequate
991,991,Vodafone,4G,Travelling,West Bengal,4.919908,78.947368,16.132723,Very Good

In [55]:
df.to_csv('..//Data/Labelled.csv',index=False)